@import './card.scss';
@import './filters.scss';
@import './tag.scss';
header {
    margin-top: 50px;
    text-align: center;

    h1 {
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 47px;
        color: #D04F4F;
    }
}








