.filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.form-search-bar {
  width: 100%;
  position: relative;
  margin-bottom: 20px;

  .input-search-bar {
    background: #e7e7e7;
    border-radius: 5px;
    height: 69px;

    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    // opacity: 0.25;
  }

  button {
    position: absolute;
    right: 20px;
    top: 10px;
    border: unset;
    background: transparent;

    .icon-search {
      font-size: 32px;
    }
  }
}

#section-filtres {
  margin-bottom: 20px;

  .accordion {
    max-width: 15vw;
    padding: 0;
    margin: 0 15px;

    .accordion-button-ingredients {
      color: white;
      background: #3282f7;
    }

    .accordion-button-appareils {
      color: white;
      background: #68d9a4;
    }

    .accordion-button-ustensibles {
      color: white;
      background: #ed6454;
    }
  }
}
.accordion-body-ingredient {
  background: #3282f7;
}

.input-search-bar-ingredient {
  background: #3282f7;
}

.accordion-body-appliance {
  background: #68d9a4;
}

.input-search-bar-appliance {
  background: #68d9a4;
}

.accordion-body-ustensil {
  background: #ed6454;
}

.input-search-bar-ustensil {
  background: #ed6454;
}

.accordion-body {
  position: absolute;
  color: white;
  width: 100%;
  max-height: 40vh;
  overflow-y: auto;
  border-radius: 0 0 5px 5px;
  z-index: 99;

  ul {
    gap: 15px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    scrollbar-width: thin;
  }
  li {
    list-style: none;
  }
}

.accordion-collapse {
  position: relative;
}
